body {
  margin: 0;
  background: #f3f3f3;
}

.swiper-container {
  width: 100vw;
  height: 100vh;
}

.swiper-slide {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.page-container {
  position: relative;
  width: 800px;
  height: auto;
}

.canvas-layer {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}

.text-layer {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}
